# Data Preparation

In [2]:
import numpy as np
import pandas as pd

In [3]:
transaction_df = pd.read_csv('./ieee-data/train_transaction.csv')
identity_df = pd.read_csv('./ieee-data/train_identity.csv')
test_transaction = pd.read_csv('./ieee-data/test_transaction.csv')
test_identity = pd.read_csv('./ieee-data/test_identity.csv')
transaction_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 590540 entries, 0 to 590539
Columns: 394 entries, TransactionID to V339
dtypes: float64(376), int64(4), object(14)
memory usage: 1.7+ GB

In [4]:
id_cols = ['card1','card2','card3','card4','card5','card6','ProductCD','addr1','addr2','P_emaildomain','R_emaildomain']
cat_cols = ['M1','M2','M3','M4','M5','M6','M7','M8','M9']
train_data_ratio = 0.8

Based on the train/test ratio we assigned before, extact the IDs of test data.

In [5]:
n_train = int(transaction_df.shape[0]*train_data_ratio)
test_ids = transaction_df.TransactionID.values[n_train:]

In [6]:
get_fraud_frac = lambda series: 100 * sum(series)/len(series)
print("Percent fraud for train transactions: {}".format(get_fraud_frac(transaction_df.isFraud[:n_train])))
print("Percent fraud for test transactions: {}".format(get_fraud_frac(transaction_df.isFraud[n_train:])))
print("Percent fraud for all transactions: {}".format(get_fraud_frac(transaction_df.isFraud)))

Percent fraud for train transactions: 3.5135215226741625
Percent fraud for test transactions: 3.4409184813899145
Percent fraud for all transactions: 3.499000914417313

 Save test IDs into the `test.csv` file

In [7]:
with open('data/test.csv', 'w') as f:
    f.writelines(map(lambda x: str(x) + "\n", test_ids))

Based on the standard we talked about before, define non-feature-columns and feature-columns for creating graph.

In [8]:
non_feature_cols = ['isFraud', 'TransactionDT'] + id_cols
print(non_feature_cols)

['isFraud', 'TransactionDT', 'card1', 'card2', 'card3', 'card4', 'card5', 'card6', 'ProductCD', 'addr1', 'addr2', 'P_emaildomain', 'R_emaildomain']

In [9]:
feature_cols = [col for col in transaction_df.columns if col not in non_feature_cols]
print(feature_cols)

['TransactionID', 'TransactionAmt', 'dist1', 'dist2', 'C1', 'C2', 'C3', 'C4', 'C5', 'C6', 'C7', 'C8', 'C9', 'C10', 'C11', 'C12', 'C13', 'C14', 'D1', 'D2', 'D3', 'D4', 'D5', 'D6', 'D7', 'D8', 'D9', 'D10', 'D11', 'D12', 'D13', 'D14', 'D15', 'M1', 'M2', 'M3', 'M4', 'M5', 'M6', 'M7', 'M8', 'M9', 'V1', 'V2', 'V3', 'V4', 'V5', 'V6', 'V7', 'V8', 'V9', 'V10', 'V11', 'V12', 'V13', 'V14', 'V15', 'V16', 'V17', 'V18', 'V19', 'V20', 'V21', 'V22', 'V23', 'V24', 'V25', 'V26', 'V27', 'V28', 'V29', 'V30', 'V31', 'V32', 'V33', 'V34', 'V35', 'V36', 'V37', 'V38', 'V39', 'V40', 'V41', 'V42', 'V43', 'V44', 'V45', 'V46', 'V47', 'V48', 'V49', 'V50', 'V51', 'V52', 'V53', 'V54', 'V55', 'V56', 'V57', 'V58', 'V59', 'V60', 'V61', 'V62', 'V63', 'V64', 'V65', 'V66', 'V67', 'V68', 'V69', 'V70', 'V71', 'V72', 'V73', 'V74', 'V75', 'V76', 'V77', 'V78', 'V79', 'V80', 'V81', 'V82', 'V83', 'V84', 'V85', 'V86', 'V87', 'V88', 'V89', 'V90', 'V91', 'V92', 'V93', 'V94', 'V95', 'V96', 'V97', 'V98', 'V99', 'V100', 'V101', 'V102', 'V103', 'V104', 'V105', 'V106', 'V107', 'V108', 'V109', 'V110', 'V111', 'V112', 'V113', 'V114', 'V115', 'V116', 'V117', 'V118', 'V119', 'V120', 'V121', 'V122', 'V123', 'V124', 'V125', 'V126', 'V127', 'V128', 'V129', 'V130', 'V131', 'V132', 'V133', 'V134', 'V135', 'V136', 'V137', 'V138', 'V139', 'V140', 'V141', 'V142', 'V143', 'V144', 'V145', 'V146', 'V147', 'V148', 'V149', 'V150', 'V151', 'V152', 'V153', 'V154', 'V155', 'V156', 'V157', 'V158', 'V159', 'V160', 'V161', 'V162', 'V163', 'V164', 'V165', 'V166', 'V167', 'V168', 'V169', 'V170', 'V171', 'V172', 'V173', 'V174', 'V175', 'V176', 'V177', 'V178', 'V179', 'V180', 'V181', 'V182', 'V183', 'V184', 'V185', 'V186', 'V187', 'V188', 'V189', 'V190', 'V191', 'V192', 'V193', 'V194', 'V195', 'V196', 'V197', 'V198', 'V199', 'V200', 'V201', 'V202', 'V203', 'V204', 'V205', 'V206', 'V207', 'V208', 'V209', 'V210', 'V211', 'V212', 'V213', 'V214', 'V215', 'V216', 'V217', 'V218', 'V219', 'V220', 'V221', 'V222', 'V223', 'V224', 'V225', 'V226', 'V227', 'V228', 'V229', 'V230', 'V231', 'V232', 'V233', 'V234', 'V235', 'V236', 'V237', 'V238', 'V239', 'V240', 'V241', 'V242', 'V243', 'V244', 'V245', 'V246', 'V247', 'V248', 'V249', 'V250', 'V251', 'V252', 'V253', 'V254', 'V255', 'V256', 'V257', 'V258', 'V259', 'V260', 'V261', 'V262', 'V263', 'V264', 'V265', 'V266', 'V267', 'V268', 'V269', 'V270', 'V271', 'V272', 'V273', 'V274', 'V275', 'V276', 'V277', 'V278', 'V279', 'V280', 'V281', 'V282', 'V283', 'V284', 'V285', 'V286', 'V287', 'V288', 'V289', 'V290', 'V291', 'V292', 'V293', 'V294', 'V295', 'V296', 'V297', 'V298', 'V299', 'V300', 'V301', 'V302', 'V303', 'V304', 'V305', 'V306', 'V307', 'V308', 'V309', 'V310', 'V311', 'V312', 'V313', 'V314', 'V315', 'V316', 'V317', 'V318', 'V319', 'V320', 'V321', 'V322', 'V323', 'V324', 'V325', 'V326', 'V327', 'V328', 'V329', 'V330', 'V331', 'V332', 'V333', 'V334', 'V335', 'V336', 'V337', 'V338', 'V339']

Transfer categorical features to be dummy variables and scale the `TransactionAmt` feature by log10.

In [10]:
features = pd.get_dummies(transaction_df[feature_cols], columns=cat_cols).fillna(0)
features['TransactionAmt'] = features['TransactionAmt'].apply(np.log10)

In [11]:
features.shape

(590540, 391)

In [12]:
print(list(features.columns))

['TransactionID', 'TransactionAmt', 'dist1', 'dist2', 'C1', 'C2', 'C3', 'C4', 'C5', 'C6', 'C7', 'C8', 'C9', 'C10', 'C11', 'C12', 'C13', 'C14', 'D1', 'D2', 'D3', 'D4', 'D5', 'D6', 'D7', 'D8', 'D9', 'D10', 'D11', 'D12', 'D13', 'D14', 'D15', 'V1', 'V2', 'V3', 'V4', 'V5', 'V6', 'V7', 'V8', 'V9', 'V10', 'V11', 'V12', 'V13', 'V14', 'V15', 'V16', 'V17', 'V18', 'V19', 'V20', 'V21', 'V22', 'V23', 'V24', 'V25', 'V26', 'V27', 'V28', 'V29', 'V30', 'V31', 'V32', 'V33', 'V34', 'V35', 'V36', 'V37', 'V38', 'V39', 'V40', 'V41', 'V42', 'V43', 'V44', 'V45', 'V46', 'V47', 'V48', 'V49', 'V50', 'V51', 'V52', 'V53', 'V54', 'V55', 'V56', 'V57', 'V58', 'V59', 'V60', 'V61', 'V62', 'V63', 'V64', 'V65', 'V66', 'V67', 'V68', 'V69', 'V70', 'V71', 'V72', 'V73', 'V74', 'V75', 'V76', 'V77', 'V78', 'V79', 'V80', 'V81', 'V82', 'V83', 'V84', 'V85', 'V86', 'V87', 'V88', 'V89', 'V90', 'V91', 'V92', 'V93', 'V94', 'V95', 'V96', 'V97', 'V98', 'V99', 'V100', 'V101', 'V102', 'V103', 'V104', 'V105', 'V106', 'V107', 'V108', 'V109', 'V110', 'V111', 'V112', 'V113', 'V114', 'V115', 'V116', 'V117', 'V118', 'V119', 'V120', 'V121', 'V122', 'V123', 'V124', 'V125', 'V126', 'V127', 'V128', 'V129', 'V130', 'V131', 'V132', 'V133', 'V134', 'V135', 'V136', 'V137', 'V138', 'V139', 'V140', 'V141', 'V142', 'V143', 'V144', 'V145', 'V146', 'V147', 'V148', 'V149', 'V150', 'V151', 'V152', 'V153', 'V154', 'V155', 'V156', 'V157', 'V158', 'V159', 'V160', 'V161', 'V162', 'V163', 'V164', 'V165', 'V166', 'V167', 'V168', 'V169', 'V170', 'V171', 'V172', 'V173', 'V174', 'V175', 'V176', 'V177', 'V178', 'V179', 'V180', 'V181', 'V182', 'V183', 'V184', 'V185', 'V186', 'V187', 'V188', 'V189', 'V190', 'V191', 'V192', 'V193', 'V194', 'V195', 'V196', 'V197', 'V198', 'V199', 'V200', 'V201', 'V202', 'V203', 'V204', 'V205', 'V206', 'V207', 'V208', 'V209', 'V210', 'V211', 'V212', 'V213', 'V214', 'V215', 'V216', 'V217', 'V218', 'V219', 'V220', 'V221', 'V222', 'V223', 'V224', 'V225', 'V226', 'V227', 'V228', 'V229', 'V230', 'V231', 'V232', 'V233', 'V234', 'V235', 'V236', 'V237', 'V238', 'V239', 'V240', 'V241', 'V242', 'V243', 'V244', 'V245', 'V246', 'V247', 'V248', 'V249', 'V250', 'V251', 'V252', 'V253', 'V254', 'V255', 'V256', 'V257', 'V258', 'V259', 'V260', 'V261', 'V262', 'V263', 'V264', 'V265', 'V266', 'V267', 'V268', 'V269', 'V270', 'V271', 'V272', 'V273', 'V274', 'V275', 'V276', 'V277', 'V278', 'V279', 'V280', 'V281', 'V282', 'V283', 'V284', 'V285', 'V286', 'V287', 'V288', 'V289', 'V290', 'V291', 'V292', 'V293', 'V294', 'V295', 'V296', 'V297', 'V298', 'V299', 'V300', 'V301', 'V302', 'V303', 'V304', 'V305', 'V306', 'V307', 'V308', 'V309', 'V310', 'V311', 'V312', 'V313', 'V314', 'V315', 'V316', 'V317', 'V318', 'V319', 'V320', 'V321', 'V322', 'V323', 'V324', 'V325', 'V326', 'V327', 'V328', 'V329', 'V330', 'V331', 'V332', 'V333', 'V334', 'V335', 'V336', 'V337', 'V338', 'V339', 'M1_F', 'M1_T', 'M2_F', 'M2_T', 'M3_F', 'M3_T', 'M4_M0', 'M4_M1', 'M4_M2', 'M5_F', 'M5_T', 'M6_F', 'M6_T', 'M7_F', 'M7_T', 'M8_F', 'M8_T', 'M9_F', 'M9_T']

Save the features into `features.csv` for future training. 

p.s. We don't need the index column and header.

In [13]:
features.to_csv('data/features.csv', index=False, header=False)

Save the IDs and label into the `tags.csv`.

In [14]:
transaction_df[['TransactionID', 'isFraud']].to_csv('data/tags.csv', index=False)

Select the columns that define the edges.

In [15]:
edge_types = id_cols + list(identity_df.columns)
print(edge_types)

['card1', 'card2', 'card3', 'card4', 'card5', 'card6', 'ProductCD', 'addr1', 'addr2', 'P_emaildomain', 'R_emaildomain', 'TransactionID', 'id_01', 'id_02', 'id_03', 'id_04', 'id_05', 'id_06', 'id_07', 'id_08', 'id_09', 'id_10', 'id_11', 'id_12', 'id_13', 'id_14', 'id_15', 'id_16', 'id_17', 'id_18', 'id_19', 'id_20', 'id_21', 'id_22', 'id_23', 'id_24', 'id_25', 'id_26', 'id_27', 'id_28', 'id_29', 'id_30', 'id_31', 'id_32', 'id_33', 'id_34', 'id_35', 'id_36', 'id_37', 'id_38', 'DeviceType', 'DeviceInfo']

In [16]:
all_id_cols = ['TransactionID'] + id_cols
full_identity_df = transaction_df[all_id_cols].merge(identity_df, on='TransactionID', how='left')
full_identity_df.head(5)

,TransactionID,card1,card2,card3,card4,card5,card6,ProductCD,addr1,addr2,...,id_31,id_32,id_33,id_34,id_35,id_36,id_37,id_38,DeviceType,DeviceInfo
0,2987000,13926,NaN,150.0,discover,142.0,credit,W,315.0,87.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2987001,2755,404.0,150.0,mastercard,102.0,credit,W,325.0,87.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2987002,4663,490.0,150.0,visa,166.0,debit,W,330.0,87.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2987003,18132,567.0,150.0,mastercard,117.0,debit,W,476.0,87.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2987004,4497,514.0,150.0,mastercard,102.0,credit,H,420.0,87.0,...,samsung browser 6.2,32.0,2220x1080,match_status:2,T,F,T,T,mobile,SAMSUNG SM-G892A Build/NRD90M

For each identity feature, save the data into the corresponding `relation_{FEATURE NAME}_edgelist.csv`. Each csv file represents one kind of edge.

In [17]:
edges = {}
for etype in edge_types:
    edgelist = full_identity_df[['TransactionID', etype]].dropna()
    edgelist.to_csv('data/relation_{}_edgelist.csv'.format(etype), index=False, header=True)
    edges[etype] = edgelist

print(edges)

{'card1':         TransactionID  card1
0             2987000  13926
1             2987001   2755
2             2987002   4663
3             2987003  18132
4             2987004   4497
...               ...    ...
590535        3577535   6550
590536        3577536  10444
590537        3577537  12037
590538        3577538   7826
590539        3577539  15066

[590540 rows x 2 columns], 'card2':         TransactionID  card2
1             2987001  404.0
2             2987002  490.0
3             2987003  567.0
4             2987004  514.0
5             2987005  555.0
...               ...    ...
590534        3577534  408.0
590536        3577536  225.0
590537        3577537  595.0
590538        3577538  481.0
590539        3577539  170.0

[581607 rows x 2 columns], 'card3':         TransactionID  card3
0             2987000  150.0
1             2987001  150.0
2             2987002  150.0
3             2987003  150.0
4             2987004  150.0
...               ...    ...
590535        3577535  150.0
590536        3577536  150.0
590537        3577537  150.0
590538        3577538  150.0
590539        3577539  150.0

[588975 rows x 2 columns], 'card4':         TransactionID       card4
0             2987000    discover
1             2987001  mastercard
2             2987002        visa
3             2987003  mastercard
4             2987004  mastercard
...               ...         ...
590535        3577535        visa
590536        3577536  mastercard
590537        3577537  mastercard
590538        3577538  mastercard
590539        3577539  mastercard

[588963 rows x 2 columns], 'card5':         TransactionID  card5
0             2987000  142.0
1             2987001  102.0
2             2987002  166.0
3             2987003  117.0
4             2987004  102.0
...               ...    ...
590535        3577535  226.0
590536        3577536  224.0
590537        3577537  224.0
590538        3577538  224.0
590539        3577539  102.0

[586281 rows x 2 columns], 'card6':         TransactionID   card6
0             2987000  credit
1             2987001  credit
2             2987002   debit
3             2987003   debit
4             2987004  credit
...               ...     ...
590535        3577535   debit
590536        3577536   debit
590537        3577537   debit
590538        3577538   debit
590539        3577539  credit

[588969 rows x 2 columns], 'ProductCD':         TransactionID ProductCD
0             2987000         W
1             2987001         W
2             2987002         W
3             2987003         W
4             2987004         H
...               ...       ...
590535        3577535         W
590536        3577536         W
590537        3577537         W
590538        3577538         W
590539        3577539         W

[590540 rows x 2 columns], 'addr1':         TransactionID  addr1
0             2987000  315.0
1             2987001  325.0
2             2987002  330.0
3             2987003  476.0
4             2987004  420.0
...               ...    ...
590535        3577535  272.0
590536        3577536  204.0
590537        3577537  231.0
590538        3577538  387.0
590539        3577539  299.0

[524834 rows x 2 columns], 'addr2':         TransactionID  addr2
0             2987000   87.0
1             2987001   87.0
2             2987002   87.0
3             2987003   87.0
4             2987004   87.0
...               ...    ...
590535        3577535   87.0
590536        3577536   87.0
590537        3577537   87.0
590538        3577538   87.0
590539        3577539   87.0

[524834 rows x 2 columns], 'P_emaildomain':         TransactionID P_emaildomain
1             2987001     gmail.com
2             2987002   outlook.com
3             2987003     yahoo.com
4             2987004     gmail.com
5             2987005     gmail.com
...               ...           ...
590534        3577534     gmail.com
590536        3577536     gmail.com
590537        3577537     gmail.com
590538        3577538       aol.com
590539        3577539     gmail.com

[496084 rows x 2 columns], 'R_emaildomain':         TransactionID  R_emaildomain
10            2987010      gmail.com
11            2987011    hotmail.com
38            2987038      gmail.com
40            2987040      gmail.com
48            2987048    outlook.com
...               ...            ...
590521        3577521       yahoo.fr
590526        3577526      gmail.com
590529        3577529      gmail.com
590531        3577531  anonymous.com
590534        3577534      gmail.com

[137291 rows x 2 columns], 'TransactionID':         TransactionID  TransactionID
0             2987000        2987000
1             2987001        2987001
2             2987002        2987002
3             2987003        2987003
4             2987004        2987004
...               ...            ...
590535        3577535        3577535
590536        3577536        3577536
590537        3577537        3577537
590538        3577538        3577538
590539        3577539        3577539

[590540 rows x 2 columns], 'id_01':         TransactionID  id_01
4             2987004    0.0
8             2987008   -5.0
10            2987010   -5.0
11            2987011   -5.0
16            2987016    0.0
...               ...    ...
590521        3577521  -15.0
590526        3577526   -5.0
590529        3577529  -20.0
590531        3577531   -5.0
590534        3577534  -45.0

[144233 rows x 2 columns], 'id_02':         TransactionID     id_02
4             2987004   70787.0
8             2987008   98945.0
10            2987010  191631.0
11            2987011  221832.0
16            2987016    7460.0
...               ...       ...
590521        3577521  145955.0
590526        3577526  172059.0
590529        3577529  632381.0
590531        3577531   55528.0
590534        3577534  339406.0

[140872 rows x 2 columns], 'id_03':         TransactionID  id_03
10            2987010    0.0
16            2987016    0.0
17            2987017    3.0
38            2987038    0.0
40            2987040    0.0
...               ...    ...
590501        3577501    0.0
590506        3577506    0.0
590509        3577509    0.0
590521        3577521    0.0
590531        3577531    0.0

[66324 rows x 2 columns], 'id_04':         TransactionID  id_04
10            2987010    0.0
16            2987016    0.0
17            2987017    0.0
38            2987038    0.0
40            2987040    0.0
...               ...    ...
590501        3577501    0.0
590506        3577506    0.0
590509        3577509    0.0
590521        3577521    0.0
590531        3577531    0.0

[66324 rows x 2 columns], 'id_05':         TransactionID  id_05
8             2987008    0.0
10            2987010    0.0
11            2987011    0.0
16            2987016    1.0
17            2987017    3.0
...               ...    ...
590521        3577521    0.0
590526        3577526    1.0
590529        3577529   -1.0
590531        3577531    0.0
590534        3577534  -10.0

[136865 rows x 2 columns], 'id_06':         TransactionID  id_06
8             2987008   -5.0
10            2987010    0.0
11            2987011   -6.0
16            2987016    0.0
17            2987017    0.0
...               ...    ...
590521        3577521    0.0
590526        3577526   -5.0
590529        3577529  -36.0
590531        3577531   -7.0
590534        3577534 -100.0

[136865 rows x 2 columns], 'id_07':         TransactionID  id_07
99            2987099   22.0
188           2987188    6.0
1062          2988062   -1.0
1064          2988064   -1.0
1389          2988389    4.0
...               ...    ...
589701        3576701   10.0
589874        3576874   15.0
590384        3577384   39.0
590442        3577442   14.0
590451        3577451   12.0

[5155 rows x 2 columns], 'id_08':         TransactionID  id_08
99            2987099  -34.0
188           2987188  -55.0
1062          2988062 -100.0
1064          2988064 -100.0
1389          2988389  -15.0
...               ...    ...
589701        3576701  -22.0
589874        3576874 -100.0
590384        3577384 -100.0
590442        3577442  -24.0
590451        3577451  -51.0

[5155 rows x 2 columns], 'id_09':         TransactionID  id_09
10            2987010    0.0
16            2987016    0.0
17            2987017    3.0
38            2987038    0.0
40            2987040    0.0
...               ...    ...
590501        3577501    0.0
590506        3577506    0.0
590509        3577509    0.0
590521        3577521    0.0
590531        3577531    0.0

[74926 rows x 2 columns], 'id_10':         TransactionID  id_10
10            2987010    0.0
16            2987016    0.0
17            2987017    0.0
38            2987038    0.0
40            2987040    0.0
...               ...    ...
590501        3577501    0.0
590506        3577506    0.0
590509        3577509    0.0
590521        3577521    0.0
590531        3577531    0.0

[74926 rows x 2 columns], 'id_11':         TransactionID  id_11
4             2987004  100.0
8             2987008  100.0
10            2987010  100.0
11            2987011  100.0
16            2987016  100.0
...               ...    ...
590521        3577521  100.0
590526        3577526  100.0
590529        3577529  100.0
590531        3577531  100.0
590534        3577534  100.0

[140978 rows x 2 columns], 'id_12':         TransactionID     id_12
4             2987004  NotFound
8             2987008  NotFound
10            2987010  NotFound
11            2987011  NotFound
16            2987016  NotFound
...               ...       ...
590521        3577521  NotFound
590526        3577526  NotFound
590529        3577529  NotFound
590531        3577531  NotFound
590534        3577534  NotFound

[144233 rows x 2 columns], 'id_13':         TransactionID  id_13
8             2987008   49.0
10            2987010   52.0
11            2987011   52.0
17            2987017   52.0
22            2987022   14.0
...               ...    ...
590521        3577521   27.0
590526        3577526   27.0
590529        3577529   27.0
590531        3577531   27.0
590534        3577534   27.0

[127320 rows x 2 columns], 'id_14':         TransactionID  id_14
4             2987004 -480.0
8             2987008 -300.0
16            2987016 -300.0
17            2987017 -300.0
38            2987038 -300.0
...               ...    ...
590465        3577465 -480.0
590495        3577495 -420.0
590506        3577506 -480.0
590526        3577526 -300.0
590531        3577531 -300.0

[80044 rows x 2 columns], 'id_15':         TransactionID  id_15
4             2987004    New
8             2987008    New
10            2987010  Found
11            2987011    New
16            2987016  Found
...               ...    ...
590521        3577521  Found
590526        3577526    New
590529        3577529    New
590531        3577531  Found
590534        3577534    New

[140985 rows x 2 columns], 'id_16':         TransactionID     id_16
4             2987004  NotFound
8             2987008  NotFound
10            2987010     Found
11            2987011  NotFound
16            2987016     Found
...               ...       ...
590521        3577521     Found
590526        3577526  NotFound
590529        3577529  NotFound
590531        3577531     Found
590534        3577534  NotFound

[129340 rows x 2 columns], 'id_17':         TransactionID  id_17
4             2987004  166.0
8             2987008  166.0
10            2987010  121.0
11            2987011  225.0
16            2987016  166.0
...               ...    ...
590521        3577521  225.0
590526        3577526  166.0
590529        3577529  225.0
590531        3577531  166.0
590534        3577534  225.0

[139369 rows x 2 columns], 'id_18':         TransactionID  id_18
16            2987016   15.0
17            2987017   18.0
38            2987038   15.0
69            2987069   15.0
70            2987070   13.0
...               ...    ...
590509        3577509   15.0
590526        3577526   15.0
590529        3577529   27.0
590531        3577531   15.0
590534        3577534   15.0

[45113 rows x 2 columns], 'id_19':         TransactionID  id_19
4             2987004  542.0
8             2987008  621.0
10            2987010  410.0
11            2987011  176.0
16            2987016  529.0
...               ...    ...
590521        3577521  427.0
590526        3577526  352.0
590529        3577529  567.0
590531        3577531  352.0
590534        3577534  417.0

[139318 rows x 2 columns], 'id_20':         TransactionID  id_20
4             2987004  144.0
8             2987008  500.0
10            2987010  142.0
11            2987011  507.0
16            2987016  575.0
...               ...    ...
590521        3577521  139.0
590526        3577526  333.0
590529        3577529  411.0
590531        3577531  368.0
590534        3577534  595.0

[139261 rows x 2 columns], 'id_21':         TransactionID  id_21
99            2987099  252.0
188           2987188  252.0
1062          2988062  657.0
1064          2988064  657.0
1389          2988389  724.0
...               ...    ...
589701        3576701  228.0
589874        3576874  254.0
590384        3577384  252.0
590442        3577442  848.0
590451        3577451  252.0

[5159 rows x 2 columns], 'id_22':         TransactionID  id_22
99            2987099   14.0
188           2987188   14.0
1062          2988062   41.0
1064          2988064   41.0
1389          2988389   14.0
...               ...    ...
589701        3576701   14.0
589874        3576874   14.0
590384        3577384   14.0
590442        3577442   14.0
590451        3577451   14.0

[5169 rows x 2 columns], 'id_23':         TransactionID                 id_23
99            2987099  IP_PROXY:TRANSPARENT
188           2987188  IP_PROXY:TRANSPARENT
1062          2988062    IP_PROXY:ANONYMOUS
1064          2988064    IP_PROXY:ANONYMOUS
1389          2988389    IP_PROXY:ANONYMOUS
...               ...                   ...
589701        3576701       IP_PROXY:HIDDEN
589874        3576874    IP_PROXY:ANONYMOUS
590384        3577384  IP_PROXY:TRANSPARENT
590442        3577442    IP_PROXY:ANONYMOUS
590451        3577451  IP_PROXY:TRANSPARENT

[5169 rows x 2 columns], 'id_24':         TransactionID  id_24
99            2987099   11.0
188           2987188   11.0
1062          2988062   15.0
1064          2988064   15.0
1389          2988389   15.0
...               ...    ...
589701        3576701   11.0
589874        3576874   16.0
590384        3577384   15.0
590442        3577442   16.0
590451        3577451   11.0

[4747 rows x 2 columns], 'id_25':         TransactionID  id_25
99            2987099  321.0
188           2987188  321.0
1062          2988062  161.0
1064          2988064  161.0
1389          2988389  460.0
...               ...    ...
589701        3576701  426.0
589874        3576874  290.0
590384        3577384  321.0
590442        3577442  137.0
590451        3577451  321.0

[5132 rows x 2 columns], 'id_26':         TransactionID  id_26
99            2987099  184.0
188           2987188  102.0
1062          2988062  159.0
1064          2988064  159.0
1389          2988389  142.0
...               ...    ...
589701        3576701  142.0
589874        3576874  169.0
590384        3577384  161.0
590442        3577442  142.0
590451        3577451  161.0

[5163 rows x 2 columns], 'id_27':         TransactionID  id_27
99            2987099  Found
188           2987188  Found
1062          2988062  Found
1064          2988064  Found
1389          2988389  Found
...               ...    ...
589701        3576701  Found
589874        3576874  Found
590384        3577384  Found
590442        3577442  Found
590451        3577451  Found

[5169 rows x 2 columns], 'id_28':         TransactionID  id_28
4             2987004    New
8             2987008    New
10            2987010  Found
11            2987011    New
16            2987016  Found
...               ...    ...
590521        3577521  Found
590526        3577526    New
590529        3577529    New
590531        3577531  Found
590534        3577534    New

[140978 rows x 2 columns], 'id_29':         TransactionID     id_29
4             2987004  NotFound
8             2987008  NotFound
10            2987010     Found
11            2987011  NotFound
16            2987016     Found
...               ...       ...
590521        3577521     Found
590526        3577526  NotFound
590529        3577529  NotFound
590531        3577531     Found
590534        3577534  NotFound

[140978 rows x 2 columns], 'id_30':         TransactionID             id_30
4             2987004       Android 7.0
8             2987008        iOS 11.1.2
16            2987016  Mac OS X 10_11_6
17            2987017        Windows 10
38            2987038           Android
...               ...               ...
590465        3577465  Mac OS X 10_13_4
590495        3577495         Windows 7
590506        3577506         Windows 7
590526        3577526     Android 7.1.1
590531        3577531   Mac OS X 10_9_5

[77565 rows x 2 columns], 'id_31':         TransactionID                    id_31
4             2987004      samsung browser 6.2
8             2987008       mobile safari 11.0
10            2987010              chrome 62.0
11            2987011              chrome 62.0
16            2987016              chrome 62.0
...               ...                      ...
590521        3577521  chrome 66.0 for android
590526        3577526  chrome 55.0 for android
590529        3577529  chrome 65.0 for android
590531        3577531              chrome 66.0
590534        3577534  chrome 66.0 for android

[140282 rows x 2 columns], 'id_32':         TransactionID  id_32
4             2987004   32.0
8             2987008   32.0
16            2987016   24.0
17            2987017   24.0
38            2987038   32.0
...               ...    ...
590465        3577465   24.0
590495        3577495   24.0
590506        3577506   24.0
590526        3577526   32.0
590531        3577531   24.0

[77586 rows x 2 columns], 'id_33':         TransactionID      id_33
4             2987004  2220x1080
8             2987008   1334x750
16            2987016   1280x800
17            2987017   1366x768
38            2987038  1920x1080
...               ...        ...
590465        3577465  2560x1440
590495        3577495  1280x1024
590506        3577506   1600x900
590526        3577526    855x480
590531        3577531  2560x1600

[73289 rows x 2 columns], 'id_34':         TransactionID           id_34
4             2987004  match_status:2
8             2987008  match_status:1
16            2987016  match_status:2
17            2987017  match_status:2
38            2987038  match_status:2
...               ...             ...
590465        3577465  match_status:2
590495        3577495  match_status:2
590506        3577506  match_status:2
590526        3577526  match_status:2
590531        3577531  match_status:2

[77805 rows x 2 columns], 'id_35':         TransactionID id_35
4             2987004     T
8             2987008     T
10            2987010     F
11            2987011     F
16            2987016     T
...               ...   ...
590521        3577521     F
590526        3577526     T
590529        3577529     F
590531        3577531     T
590534        3577534     F

[140985 rows x 2 columns], 'id_36':         TransactionID id_36
4             2987004     F
8             2987008     F
10            2987010     F
11            2987011     F
16            2987016     F
...               ...   ...
590521        3577521     F
590526        3577526     F
590529        3577529     F
590531        3577531     F
590534        3577534     F

[140985 rows x 2 columns], 'id_37':         TransactionID id_37
4             2987004     T
8             2987008     F
10            2987010     T
11            2987011     T
16            2987016     T
...               ...   ...
590521        3577521     T
590526        3577526     T
590529        3577529     T
590531        3577531     T

Let's re-check the edges we defined.

In [18]:
import glob

file_list = glob.glob('./data/*edgelist.csv')

edges = ",".join(map(lambda x: x.split("/")[-1], [file for file in file_list if "relation" in file]))

edges_full = ''
for etype in edge_types:
    edges_full += ',data/relation_{}_edgelist.csv'.format(etype)

In [19]:
edges

'data\\relation_addr1_edgelist.csv,data\\relation_addr2_edgelist.csv,data\\relation_card1_edgelist.csv,data\\relation_card2_edgelist.csv,data\\relation_card3_edgelist.csv,data\\relation_card4_edgelist.csv,data\\relation_card5_edgelist.csv,data\\relation_card6_edgelist.csv,data\\relation_DeviceInfo_edgelist.csv,data\\relation_DeviceType_edgelist.csv,data\\relation_id_01_edgelist.csv,data\\relation_id_02_edgelist.csv,data\\relation_id_03_edgelist.csv,data\\relation_id_04_edgelist.csv,data\\relation_id_05_edgelist.csv,data\\relation_id_06_edgelist.csv,data\\relation_id_07_edgelist.csv,data\\relation_id_08_edgelist.csv,data\\relation_id_09_edgelist.csv,data\\relation_id_10_edgelist.csv,data\\relation_id_11_edgelist.csv,data\\relation_id_12_edgelist.csv,data\\relation_id_13_edgelist.csv,data\\relation_id_14_edgelist.csv,data\\relation_id_15_edgelist.csv,data\\relation_id_16_edgelist.csv,data\\relation_id_17_edgelist.csv,data\\relation_id_18_edgelist.csv,data\\relation_id_19_edgelist.csv,data\\relation_id_20_edgelist.csv,data\\relation_id_21_edgelist.csv,data\\relation_id_22_edgelist.csv,data\\relation_id_23_edgelist.csv,data\\relation_id_24_edgelist.csv,data\\relation_id_25_edgelist.csv,data\\relation_id_26_edgelist.csv,data\\relation_id_27_edgelist.csv,data\\relation_id_28_edgelist.csv,data\\relation_id_29_edgelist.csv,data\\relation_id_30_edgelist.csv,data\\relation_id_31_edgelist.csv,data\\relation_id_32_edgelist.csv,data\\relation_id_33_edgelist.csv,data\\relation_id_34_edgelist.csv,data\\relation_id_35_edgelist.csv,data\\relation_id_36_edgelist.csv,data\\relation_id_37_edgelist.csv,data\\relation_id_38_edgelist.csv,data\\relation_ProductCD_edgelist.csv,data\\relation_P_emaildomain_edgelist.csv,data\\relation_R_emaildomain_edgelist.csv,data\\relation_TransactionID_edgelist.csv'